<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/boostrap"/>
</head>
<body>
<div th:insert="fragments/navigation"/>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="w-50 mt-5">
        <h1 class="text-center mb-5">Zhoonstagram - Instagram with a twist...</h1>
        <p class="mb-3">
            Have you ever just wanted to scroll trough some pigeon images, but your annoying friend Becky keeps posting dumb images of food or her cat/dog.
            Total enjoyment killer.
        </p>
        <h3 class="mb-3 text-center">We have the solution</h3>
        <h4 class="mb-3 text-center">Introducing, Zhoonstagram!!!</h4>
        <p class="mb-5">Zhoonstagram is a new revolutionary app that completely changes how you view pigeons.
            The app uses advanced algorithms and machine learning to determine is the image you are trying to post, an image of a pigeon.
            Or something booring, like food or lifestyle.</p>
        <h5 class="text-center">If the image does not contain a pigeon its automatically:</h5>
        <h2 class="text-center text-danger mb-5"><b>REJECTED</b></h2>
        <h5 class="text-center text-success">By using our app you can be sure that all you will see scrolling trough are pigeons</h5>
    </div>

</div>
</body>
</html>